@font-face {
    font-family: "vlaanderen-icon";
    src: url("./vlaanderen-icon.ttf?cdabdb30aff06b5b1ad9e60c1047c2e5") format("truetype"),
url("./vlaanderen-icon.woff?cdabdb30aff06b5b1ad9e60c1047c2e5") format("woff"),
url("./vlaanderen-icon.woff2?cdabdb30aff06b5b1ad9e60c1047c2e5") format("woff2");
}

i[class^="vl-vi-"]:before, i[class*=" vl-vi-"]:before {
    font-family: vlaanderen-icon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vl-vi-zoom-out:before {
    content: "\f101";
}
.vl-vi-zoom-in:before {
    content: "\f102";
}
.vl-vi-youtube:before {
    content: "\f103";
}
.vl-vi-x:before {
    content: "\f104";
}
.vl-vi-www:before {
    content: "\f105";
}
.vl-vi-wrench:before {
    content: "\f106";
}
.vl-vi-work-receive:before {
    content: "\f107";
}
.vl-vi-window-forward:before {
    content: "\f108";
}
.vl-vi-whiskey-bottle-glass:before {
    content: "\f109";
}
.vl-vi-whatsapp:before {
    content: "\f10a";
}
.vl-vi-warning:before {
    content: "\f10b";
}
.vl-vi-wallet:before {
    content: "\f10c";
}
.vl-vi-vouchers-list:before {
    content: "\f10d";
}
.vl-vi-voucher-scissors:before {
    content: "\f10e";
}
.vl-vi-voucher-download:before {
    content: "\f10f";
}
.vl-vi-voucher-check:before {
    content: "\f110";
}
.vl-vi-vote:before {
    content: "\f111";
}
.vl-vi-vote-thumbs-up:before {
    content: "\f112";
}
.vl-vi-vote-thumbs-down:before {
    content: "\f113";
}
.vl-vi-vote-star:before {
    content: "\f114";
}
.vl-vi-vote-star-filled:before {
    content: "\f115";
}
.vl-vi-vote-heart:before {
    content: "\f116";
}
.vl-vi-vote-flag:before {
    content: "\f117";
}
.vl-vi-vlaanderen:before {
    content: "\f118";
}
.vl-vi-view-hide:before {
    content: "\f119";
}
.vl-vi-view-add:before {
    content: "\f11a";
}
.vl-vi-video-subtitle:before {
    content: "\f11b";
}
.vl-vi-vaccum-cleaner:before {
    content: "\f11c";
}
.vl-vi-user:before {
    content: "\f11d";
}
.vl-vi-user-signup:before {
    content: "\f11e";
}
.vl-vi-user-setting:before {
    content: "\f11f";
}
.vl-vi-user-remove:before {
    content: "\f120";
}
.vl-vi-user-redirect:before {
    content: "\f121";
}
.vl-vi-user-reception:before {
    content: "\f122";
}
.vl-vi-user-male:before {
    content: "\f123";
}
.vl-vi-user-group:before {
    content: "\f124";
}
.vl-vi-user-group-home:before {
    content: "\f125";
}
.vl-vi-user-group-circle:before {
    content: "\f126";
}
.vl-vi-user-female:before {
    content: "\f127";
}
.vl-vi-user-email:before {
    content: "\f128";
}
.vl-vi-user-download:before {
    content: "\f129";
}
.vl-vi-user-car:before {
    content: "\f12a";
}
.vl-vi-user-box:before {
    content: "\f12b";
}
.vl-vi-user-alt:before {
    content: "\f12c";
}
.vl-vi-usb:before {
    content: "\f12d";
}
.vl-vi-upload-harddisk:before {
    content: "\f12e";
}
.vl-vi-up-down-arrows:before {
    content: "\f12f";
}
.vl-vi-university:before {
    content: "\f130";
}
.vl-vi-underline:before {
    content: "\f131";
}
.vl-vi-twitter:before {
    content: "\f132";
}
.vl-vi-truck:before {
    content: "\f133";
}
.vl-vi-truck-danger:before {
    content: "\f134";
}
.vl-vi-trophy:before {
    content: "\f135";
}
.vl-vi-trash:before {
    content: "\f136";
}
.vl-vi-train:before {
    content: "\f137";
}
.vl-vi-tractor:before {
    content: "\f138";
}
.vl-vi-tint:before {
    content: "\f139";
}
.vl-vi-timeline:before {
    content: "\f13a";
}
.vl-vi-text-undo:before {
    content: "\f13b";
}
.vl-vi-text-redo:before {
    content: "\f13c";
}
.vl-vi-text-eraser:before {
    content: "\f13d";
}
.vl-vi-text-cursor:before {
    content: "\f13e";
}
.vl-vi-terrace:before {
    content: "\f13f";
}
.vl-vi-television:before {
    content: "\f140";
}
.vl-vi-taxi:before {
    content: "\f141";
}
.vl-vi-tag:before {
    content: "\f142";
}
.vl-vi-tag-view:before {
    content: "\f143";
}
.vl-vi-tag-subtract:before {
    content: "\f144";
}
.vl-vi-tag-edit:before {
    content: "\f145";
}
.vl-vi-tag-double:before {
    content: "\f146";
}
.vl-vi-tag-close:before {
    content: "\f147";
}
.vl-vi-tag-check:before {
    content: "\f148";
}
.vl-vi-tag-add:before {
    content: "\f149";
}
.vl-vi-tablet:before {
    content: "\f14a";
}
.vl-vi-t-shirt:before {
    content: "\f14b";
}
.vl-vi-synchronize:before {
    content: "\f14c";
}
.vl-vi-synchronize-timeout:before {
    content: "\f14d";
}
.vl-vi-symbol-wifi:before {
    content: "\f14e";
}
.vl-vi-symbol-wifi-close:before {
    content: "\f14f";
}
.vl-vi-symbol-wifi-check:before {
    content: "\f150";
}
.vl-vi-switches:before {
    content: "\f151";
}
.vl-vi-suitcase:before {
    content: "\f152";
}
.vl-vi-subway:before {
    content: "\f153";
}
.vl-vi-subtract:before {
    content: "\f154";
}
.vl-vi-subtract-naked:before {
    content: "\f155";
}
.vl-vi-subtract-filled:before {
    content: "\f156";
}
.vl-vi-store-repair:before {
    content: "\f157";
}
.vl-vi-stop:before {
    content: "\f158";
}
.vl-vi-spotify:before {
    content: "\f159";
}
.vl-vi-sports-competition:before {
    content: "\f15a";
}
.vl-vi-speaker-volume-off:before {
    content: "\f15b";
}
.vl-vi-speaker-volume-medium:before {
    content: "\f15c";
}
.vl-vi-speaker-volume-low:before {
    content: "\f15d";
}
.vl-vi-speaker-volume-increase:before {
    content: "\f15e";
}
.vl-vi-speaker-volume-high:before {
    content: "\f15f";
}
.vl-vi-speaker-volume-decrease:before {
    content: "\f160";
}
.vl-vi-sort:before {
    content: "\f161";
}
.vl-vi-snippet:before {
    content: "\f162";
}
.vl-vi-snapchat:before {
    content: "\f163";
}
.vl-vi-smiley-smile:before {
    content: "\f164";
}
.vl-vi-smiley-poker-face:before {
    content: "\f165";
}
.vl-vi-skype:before {
    content: "\f166";
}
.vl-vi-sitemap:before {
    content: "\f167";
}
.vl-vi-sign-recycle:before {
    content: "\f168";
}
.vl-vi-sign-disable:before {
    content: "\f169";
}
.vl-vi-shrink:before {
    content: "\f16a";
}
.vl-vi-shopping:before {
    content: "\f16b";
}
.vl-vi-shopping-cart:before {
    content: "\f16c";
}
.vl-vi-shopping-basket:before {
    content: "\f16d";
}
.vl-vi-shopping-basket-subtract:before {
    content: "\f16e";
}
.vl-vi-shopping-basket-add:before {
    content: "\f16f";
}
.vl-vi-shipping-truck:before {
    content: "\f170";
}
.vl-vi-share:before {
    content: "\f171";
}
.vl-vi-share-rss-feed:before {
    content: "\f172";
}
.vl-vi-share-megaphone:before {
    content: "\f173";
}
.vl-vi-settings:before {
    content: "\f174";
}
.vl-vi-server:before {
    content: "\f175";
}
.vl-vi-search:before {
    content: "\f176";
}
.vl-vi-scissors:before {
    content: "\f177";
}
.vl-vi-scan:before {
    content: "\f178";
}
.vl-vi-scaffold:before {
    content: "\f179";
}
.vl-vi-save:before {
    content: "\f17a";
}
.vl-vi-save-work:before {
    content: "\f17b";
}
.vl-vi-save-care:before {
    content: "\f17c";
}
.vl-vi-safe:before {
    content: "\f17d";
}
.vl-vi-ruler:before {
    content: "\f17e";
}
.vl-vi-romance-marriage-license:before {
    content: "\f17f";
}
.vl-vi-road:before {
    content: "\f180";
}
.vl-vi-road-block:before {
    content: "\f181";
}
.vl-vi-road-alert:before {
    content: "\f182";
}
.vl-vi-rewards-gift:before {
    content: "\f183";
}
.vl-vi-rewards-certified-badge:before {
    content: "\f184";
}
.vl-vi-reply:before {
    content: "\f185";
}
.vl-vi-reply-all:before {
    content: "\f186";
}
.vl-vi-recreation:before {
    content: "\f187";
}
.vl-vi-question:before {
    content: "\f188";
}
.vl-vi-question-mark:before {
    content: "\f189";
}
.vl-vi-question-mark-small:before {
    content: "\f18a";
}
.vl-vi-question-mark-naked:before {
    content: "\f18b";
}
.vl-vi-question-mark-filled:before {
    content: "\f18c";
}
.vl-vi-publication:before {
    content: "\f18d";
}
.vl-vi-programming-jigsaw:before {
    content: "\f18e";
}
.vl-vi-programming-bug:before {
    content: "\f18f";
}
.vl-vi-profile-active:before {
    content: "\f190";
}
.vl-vi-printer:before {
    content: "\f191";
}
.vl-vi-printer-view:before {
    content: "\f192";
}
.vl-vi-power-button:before {
    content: "\f193";
}
.vl-vi-plus:before {
    content: "\f194";
}
.vl-vi-plus-naked:before {
    content: "\f195";
}
.vl-vi-plus-circle:before {
    content: "\f196";
}
.vl-vi-plus-circle-filled:before {
    content: "\f197";
}
.vl-vi-plug:before {
    content: "\f198";
}
.vl-vi-playstreet:before {
    content: "\f199";
}
.vl-vi-play:before {
    content: "\f19a";
}
.vl-vi-places-home:before {
    content: "\f19b";
}
.vl-vi-places-home-1:before {
    content: "\f19c";
}
.vl-vi-places-factory:before {
    content: "\f19d";
}
.vl-vi-pinterest:before {
    content: "\f19e";
}
.vl-vi-pin:before {
    content: "\f19f";
}
.vl-vi-pin-paper:before {
    content: "\f1a0";
}
.vl-vi-pick-up:before {
    content: "\f1a1";
}
.vl-vi-phone:before {
    content: "\f1a2";
}
.vl-vi-phone-speaker:before {
    content: "\f1a3";
}
.vl-vi-phone-signal-low:before {
    content: "\f1a4";
}
.vl-vi-phone-record:before {
    content: "\f1a5";
}
.vl-vi-phone-outgoing:before {
    content: "\f1a6";
}
.vl-vi-phone-off:before {
    content: "\f1a7";
}
.vl-vi-phone-incoming:before {
    content: "\f1a8";
}
.vl-vi-pennants:before {
    content: "\f1a9";
}
.vl-vi-pencil:before {
    content: "\f1aa";
}
.vl-vi-pencil-write:before {
    content: "\f1ab";
}
.vl-vi-pencil-ruler:before {
    content: "\f1ac";
}
.vl-vi-pause:before {
    content: "\f1ad";
}
.vl-vi-paragraph:before {
    content: "\f1ae";
}
.vl-vi-paperplane:before {
    content: "\f1af";
}
.vl-vi-paperclip:before {
    content: "\f1b0";
}
.vl-vi-paper:before {
    content: "\f1b1";
}
.vl-vi-paint-palette:before {
    content: "\f1b2";
}
.vl-vi-paint-brush:before {
    content: "\f1b3";
}
.vl-vi-other-annoyances:before {
    content: "\f1b4";
}
.vl-vi-other-annoyances-alt:before {
    content: "\f1b5";
}
.vl-vi-organization-network:before {
    content: "\f1b6";
}
.vl-vi-non-garbage-bin:before {
    content: "\f1b7";
}
.vl-vi-non-garbage-bag:before {
    content: "\f1b8";
}
.vl-vi-next:before {
    content: "\f1b9";
}
.vl-vi-newspaper:before {
    content: "\f1ba";
}
.vl-vi-newsletter:before {
    content: "\f1bb";
}
.vl-vi-news:before {
    content: "\f1bc";
}
.vl-vi-nav-up:before {
    content: "\f1bd";
}
.vl-vi-nav-up-light:before {
    content: "\f1be";
}
.vl-vi-nav-up-double:before {
    content: "\f1bf";
}
.vl-vi-nav-show-more-vertical:before {
    content: "\f1c0";
}
.vl-vi-nav-show-more-horizontal:before {
    content: "\f1c1";
}
.vl-vi-nav-right:before {
    content: "\f1c2";
}
.vl-vi-nav-right-light:before {
    content: "\f1c3";
}
.vl-vi-nav-right-double:before {
    content: "\f1c4";
}
.vl-vi-nav-left:before {
    content: "\f1c5";
}
.vl-vi-nav-left-light:before {
    content: "\f1c6";
}
.vl-vi-nav-left-double:before {
    content: "\f1c7";
}
.vl-vi-nav-down:before {
    content: "\f1c8";
}
.vl-vi-nav-down-light:before {
    content: "\f1c9";
}
.vl-vi-nav-down-double:before {
    content: "\f1ca";
}
.vl-vi-nature-tree:before {
    content: "\f1cb";
}
.vl-vi-nature-leaf:before {
    content: "\f1cc";
}
.vl-vi-nature-clover:before {
    content: "\f1cd";
}
.vl-vi-nature-bacteria:before {
    content: "\f1ce";
}
.vl-vi-music-note:before {
    content: "\f1cf";
}
.vl-vi-moving-elevator:before {
    content: "\f1d0";
}
.vl-vi-move-up:before {
    content: "\f1d1";
}
.vl-vi-move-left-right:before {
    content: "\f1d2";
}
.vl-vi-move-down:before {
    content: "\f1d3";
}
.vl-vi-motorcycle:before {
    content: "\f1d4";
}
.vl-vi-motorbike:before {
    content: "\f1d5";
}
.vl-vi-money-note:before {
    content: "\f1d6";
}
.vl-vi-mobile-phone:before {
    content: "\f1d7";
}
.vl-vi-minus:before {
    content: "\f1d8";
}
.vl-vi-minus-circle:before {
    content: "\f1d9";
}
.vl-vi-milk-carton:before {
    content: "\f1da";
}
.vl-vi-microphone:before {
    content: "\f1db";
}
.vl-vi-microphone-off:before {
    content: "\f1dc";
}
.vl-vi-messenger:before {
    content: "\f1dd";
}
.vl-vi-menu:before {
    content: "\f1de";
}
.vl-vi-market:before {
    content: "\f1df";
}
.vl-vi-mail:before {
    content: "\f1e0";
}
.vl-vi-magnifier:before {
    content: "\f1e1";
}
.vl-vi-magic-wand:before {
    content: "\f1e2";
}
.vl-vi-long-arrow:before {
    content: "\f1e3";
}
.vl-vi-logout:before {
    content: "\f1e4";
}
.vl-vi-login:before {
    content: "\f1e5";
}
.vl-vi-lock:before {
    content: "\f1e6";
}
.vl-vi-lock-unlock:before {
    content: "\f1e7";
}
.vl-vi-location:before {
    content: "\f1e8";
}
.vl-vi-location-pin-recycle:before {
    content: "\f1e9";
}
.vl-vi-location-pin-recycle-close:before {
    content: "\f1ea";
}
.vl-vi-location-path:before {
    content: "\f1eb";
}
.vl-vi-location-map:before {
    content: "\f1ec";
}
.vl-vi-location-gps:before {
    content: "\f1ed";
}
.vl-vi-location-direction-arrow:before {
    content: "\f1ee";
}
.vl-vi-loader:before {
    content: "\f1ef";
}
.vl-vi-live-purpose:before {
    content: "\f1f0";
}
.vl-vi-list:before {
    content: "\f1f1";
}
.vl-vi-list-numbers:before {
    content: "\f1f2";
}
.vl-vi-list-bullets:before {
    content: "\f1f3";
}
.vl-vi-list-bullets-alt:before {
    content: "\f1f4";
}
.vl-vi-list-add:before {
    content: "\f1f5";
}
.vl-vi-linkedin:before {
    content: "\f1f6";
}
.vl-vi-link:before {
    content: "\f1f7";
}
.vl-vi-link-broken:before {
    content: "\f1f8";
}
.vl-vi-lightbulb:before {
    content: "\f1f9";
}
.vl-vi-leisure-ticket:before {
    content: "\f1fa";
}
.vl-vi-leisure-drama:before {
    content: "\f1fb";
}
.vl-vi-laundry:before {
    content: "\f1fc";
}
.vl-vi-laptop:before {
    content: "\f1fd";
}
.vl-vi-keyboard:before {
    content: "\f1fe";
}
.vl-vi-key:before {
    content: "\f1ff";
}
.vl-vi-jira:before {
    content: "\f200";
}
.vl-vi-jeugdhulp:before {
    content: "\f201";
}
.vl-vi-jeugdhulp-saving:before {
    content: "\f202";
}
.vl-vi-italic:before {
    content: "\f203";
}
.vl-vi-ironing:before {
    content: "\f204";
}
.vl-vi-interface-share-time:before {
    content: "\f205";
}
.vl-vi-instagram:before {
    content: "\f206";
}
.vl-vi-info:before {
    content: "\f207";
}
.vl-vi-info-naked:before {
    content: "\f208";
}
.vl-vi-info-filled:before {
    content: "\f209";
}
.vl-vi-info-circle:before {
    content: "\f20a";
}
.vl-vi-indent-right:before {
    content: "\f20b";
}
.vl-vi-indent-left:before {
    content: "\f20c";
}
.vl-vi-inbox:before {
    content: "\f20d";
}
.vl-vi-images:before {
    content: "\f20e";
}
.vl-vi-images-copy:before {
    content: "\f20f";
}
.vl-vi-id:before {
    content: "\f210";
}
.vl-vi-id-card:before {
    content: "\f211";
}
.vl-vi-hourglass:before {
    content: "\f212";
}
.vl-vi-hotel-shower:before {
    content: "\f213";
}
.vl-vi-hotel-fire-alarm:before {
    content: "\f214";
}
.vl-vi-hotel-bed:before {
    content: "\f215";
}
.vl-vi-hotel-bath-shower:before {
    content: "\f216";
}
.vl-vi-hierarchy:before {
    content: "\f217";
}
.vl-vi-hide:before {
    content: "\f218";
}
.vl-vi-health-syringe:before {
    content: "\f219";
}
.vl-vi-health-syringe-certificate:before {
    content: "\f21a";
}
.vl-vi-health-hospital:before {
    content: "\f21b";
}
.vl-vi-health-heart-pulse:before {
    content: "\f21c";
}
.vl-vi-health-first-aid-kit:before {
    content: "\f21d";
}
.vl-vi-headphone:before {
    content: "\f21e";
}
.vl-vi-harddisk:before {
    content: "\f21f";
}
.vl-vi-handicap:before {
    content: "\f220";
}
.vl-vi-handicap-tools:before {
    content: "\f221";
}
.vl-vi-handicap-money:before {
    content: "\f222";
}
.vl-vi-hand-hint:before {
    content: "\f223";
}
.vl-vi-hammer:before {
    content: "\f224";
}
.vl-vi-hammer-anvil:before {
    content: "\f225";
}
.vl-vi-graduation-time:before {
    content: "\f226";
}
.vl-vi-graduation-refresh:before {
    content: "\f227";
}
.vl-vi-graduation-hat:before {
    content: "\f228";
}
.vl-vi-graduation-euro:before {
    content: "\f229";
}
.vl-vi-graduate:before {
    content: "\f22a";
}
.vl-vi-googleplus:before {
    content: "\f22b";
}
.vl-vi-google-play:before {
    content: "\f22c";
}
.vl-vi-globe:before {
    content: "\f22d";
}
.vl-vi-globe-alt:before {
    content: "\f22e";
}
.vl-vi-gender-transgender:before {
    content: "\f22f";
}
.vl-vi-gender-male:before {
    content: "\f230";
}
.vl-vi-gender-female:before {
    content: "\f231";
}
.vl-vi-gender-female-male:before {
    content: "\f232";
}
.vl-vi-garbage-bin:before {
    content: "\f233";
}
.vl-vi-garbage-bag:before {
    content: "\f234";
}
.vl-vi-food-grain:before {
    content: "\f235";
}
.vl-vi-food-apple:before {
    content: "\f236";
}
.vl-vi-food-apple-core:before {
    content: "\f237";
}
.vl-vi-font:before {
    content: "\f238";
}
.vl-vi-folder:before {
    content: "\f239";
}
.vl-vi-folder-open:before {
    content: "\f23a";
}
.vl-vi-focus:before {
    content: "\f23b";
}
.vl-vi-flickr:before {
    content: "\f23c";
}
.vl-vi-fingerprint:before {
    content: "\f23d";
}
.vl-vi-film:before {
    content: "\f23e";
}
.vl-vi-files-coding:before {
    content: "\f23f";
}
.vl-vi-files-coding-html:before {
    content: "\f240";
}
.vl-vi-file:before {
    content: "\f241";
}
.vl-vi-file-zipped-vice:before {
    content: "\f242";
}
.vl-vi-file-zipped-new:before {
    content: "\f243";
}
.vl-vi-file-work:before {
    content: "\f244";
}
.vl-vi-file-video:before {
    content: "\f245";
}
.vl-vi-file-upload:before {
    content: "\f246";
}
.vl-vi-file-tasks-favorite-heart:before {
    content: "\f247";
}
.vl-vi-file-tasks-check:before {
    content: "\f248";
}
.vl-vi-file-tasks-bacteria-check:before {
    content: "\f249";
}
.vl-vi-file-swap:before {
    content: "\f24a";
}
.vl-vi-file-office-xls:before {
    content: "\f24b";
}
.vl-vi-file-office-ppt:before {
    content: "\f24c";
}
.vl-vi-file-office-pdf:before {
    content: "\f24d";
}
.vl-vi-file-office-doc:before {
    content: "\f24e";
}
.vl-vi-file-new:before {
    content: "\f24f";
}
.vl-vi-file-images-svg:before {
    content: "\f250";
}
.vl-vi-file-images-png:before {
    content: "\f251";
}
.vl-vi-file-images-jpg:before {
    content: "\f252";
}
.vl-vi-file-images-heic:before {
    content: "\f253";
}
.vl-vi-file-image:before {
    content: "\f254";
}
.vl-vi-file-hand:before {
    content: "\f255";
}
.vl-vi-file-edit:before {
    content: "\f256";
}
.vl-vi-file-download:before {
    content: "\f257";
}
.vl-vi-file-copy:before {
    content: "\f258";
}
.vl-vi-file-audio:before {
    content: "\f259";
}
.vl-vi-field:before {
    content: "\f25a";
}
.vl-vi-fax:before {
    content: "\f25b";
}
.vl-vi-fastforward:before {
    content: "\f25c";
}
.vl-vi-fastback:before {
    content: "\f25d";
}
.vl-vi-faq:before {
    content: "\f25e";
}
.vl-vi-family:before {
    content: "\f25f";
}
.vl-vi-facebook:before {
    content: "\f260";
}
.vl-vi-face-id:before {
    content: "\f261";
}
.vl-vi-external:before {
    content: "\f262";
}
.vl-vi-expand:before {
    content: "\f263";
}
.vl-vi-expand-vertical:before {
    content: "\f264";
}
.vl-vi-expand-horizontal:before {
    content: "\f265";
}
.vl-vi-expand-horizontal-alt:before {
    content: "\f266";
}
.vl-vi-envelope:before {
    content: "\f267";
}
.vl-vi-enlarge:before {
    content: "\f268";
}
.vl-vi-email:before {
    content: "\f269";
}
.vl-vi-email-read:before {
    content: "\f26a";
}
.vl-vi-eloket:before {
    content: "\f26b";
}
.vl-vi-edit:before {
    content: "\f26c";
}
.vl-vi-eco-throw-trash:before {
    content: "\f26d";
}
.vl-vi-eco-solar-panel:before {
    content: "\f26e";
}
.vl-vi-drink-bottle:before {
    content: "\f26f";
}
.vl-vi-drawer:before {
    content: "\f270";
}
.vl-vi-drawer-down:before {
    content: "\f271";
}
.vl-vi-download-harddisk:before {
    content: "\f272";
}
.vl-vi-double-arrow:before {
    content: "\f273";
}
.vl-vi-document:before {
    content: "\f274";
}
.vl-vi-document-small:before {
    content: "\f275";
}
.vl-vi-direction-sign:before {
    content: "\f276";
}
.vl-vi-diagram:before {
    content: "\f277";
}
.vl-vi-demonstration:before {
    content: "\f278";
}
.vl-vi-dating-target:before {
    content: "\f279";
}
.vl-vi-data-upload:before {
    content: "\f27a";
}
.vl-vi-data-transfer:before {
    content: "\f27b";
}
.vl-vi-data-download:before {
    content: "\f27c";
}
.vl-vi-dashboard:before {
    content: "\f27d";
}
.vl-vi-cursor-hold:before {
    content: "\f27e";
}
.vl-vi-cursor-hand:before {
    content: "\f27f";
}
.vl-vi-cursor-finger-up:before {
    content: "\f280";
}
.vl-vi-cursor-finger-right:before {
    content: "\f281";
}
.vl-vi-cursor-finger-left:before {
    content: "\f282";
}
.vl-vi-cursor-finger-down:before {
    content: "\f283";
}
.vl-vi-cursor-arrow-small:before {
    content: "\f284";
}
.vl-vi-cursor-arrow-big:before {
    content: "\f285";
}
.vl-vi-cross:before {
    content: "\f286";
}
.vl-vi-cross-thin:before {
    content: "\f287";
}
.vl-vi-crop:before {
    content: "\f288";
}
.vl-vi-credit-card:before {
    content: "\f289";
}
.vl-vi-copyright:before {
    content: "\f28a";
}
.vl-vi-copy-paste:before {
    content: "\f28b";
}
.vl-vi-control-cross-over:before {
    content: "\f28c";
}
.vl-vi-contract:before {
    content: "\f28d";
}
.vl-vi-contract-education:before {
    content: "\f28e";
}
.vl-vi-content-view-module:before {
    content: "\f28f";
}
.vl-vi-content-view-column:before {
    content: "\f290";
}
.vl-vi-content-note:before {
    content: "\f291";
}
.vl-vi-content-layers-show:before {
    content: "\f292";
}
.vl-vi-content-layers-hide:before {
    content: "\f293";
}
.vl-vi-content-filter:before {
    content: "\f294";
}
.vl-vi-content-box:before {
    content: "\f295";
}
.vl-vi-content-book:before {
    content: "\f296";
}
.vl-vi-content-book-favorite-star:before {
    content: "\f297";
}
.vl-vi-contacts:before {
    content: "\f298";
}
.vl-vi-contactbook:before {
    content: "\f299";
}
.vl-vi-construction-shack:before {
    content: "\f29a";
}
.vl-vi-construction-crane:before {
    content: "\f29b";
}
.vl-vi-confluence:before {
    content: "\f29c";
}
.vl-vi-computer-screen:before {
    content: "\f29d";
}
.vl-vi-compass:before {
    content: "\f29e";
}
.vl-vi-coin-stack:before {
    content: "\f29f";
}
.vl-vi-coin-receive:before {
    content: "\f2a0";
}
.vl-vi-cog:before {
    content: "\f2a1";
}
.vl-vi-coffee-cup:before {
    content: "\f2a2";
}
.vl-vi-code-branch:before {
    content: "\f2a3";
}
.vl-vi-cloud:before {
    content: "\f2a4";
}
.vl-vi-cloud-upload:before {
    content: "\f2a5";
}
.vl-vi-cloud-download:before {
    content: "\f2a6";
}
.vl-vi-close:before {
    content: "\f2a7";
}
.vl-vi-close-naked:before {
    content: "\f2a8";
}
.vl-vi-close-light:before {
    content: "\f2a9";
}
.vl-vi-close-filled:before {
    content: "\f2aa";
}
.vl-vi-clock:before {
    content: "\f2ab";
}
.vl-vi-child:before {
    content: "\f2ac";
}
.vl-vi-check:before {
    content: "\f2ad";
}
.vl-vi-check-thin:before {
    content: "\f2ae";
}
.vl-vi-check-small:before {
    content: "\f2af";
}
.vl-vi-check-shield:before {
    content: "\f2b0";
}
.vl-vi-check-naked:before {
    content: "\f2b1";
}
.vl-vi-check-filled:before {
    content: "\f2b2";
}
.vl-vi-check-circle:before {
    content: "\f2b3";
}
.vl-vi-chat:before {
    content: "\f2b4";
}
.vl-vi-chat-help:before {
    content: "\f2b5";
}
.vl-vi-chat-bubble-square:before {
    content: "\f2b6";
}
.vl-vi-chat-bubble-square-alt:before {
    content: "\f2b7";
}
.vl-vi-chat-bubble-square-alert:before {
    content: "\f2b8";
}
.vl-vi-car:before {
    content: "\f2b9";
}
.vl-vi-car-wheel:before {
    content: "\f2ba";
}
.vl-vi-car-refresh:before {
    content: "\f2bb";
}
.vl-vi-camera:before {
    content: "\f2bc";
}
.vl-vi-calendar_date:before {
    content: "\f2bd";
}
.vl-vi-calendar_check:before {
    content: "\f2be";
}
.vl-vi-calendar:before {
    content: "\f2bf";
}
.vl-vi-calendar-subtract:before {
    content: "\f2c0";
}
.vl-vi-calendar-check:before {
    content: "\f2c1";
}
.vl-vi-calendar-add:before {
    content: "\f2c2";
}
.vl-vi-calculator:before {
    content: "\f2c3";
}
.vl-vi-cake:before {
    content: "\f2c4";
}
.vl-vi-cabinet:before {
    content: "\f2c5";
}
.vl-vi-business-scale:before {
    content: "\f2c6";
}
.vl-vi-business-graph-pie:before {
    content: "\f2c7";
}
.vl-vi-business-graph-bar:before {
    content: "\f2c8";
}
.vl-vi-business-deal-handshake:before {
    content: "\f2c9";
}
.vl-vi-bus:before {
    content: "\f2ca";
}
.vl-vi-bus-refresh:before {
    content: "\f2cb";
}
.vl-vi-bus-handicap:before {
    content: "\f2cc";
}
.vl-vi-burgerprofiel:before {
    content: "\f2cd";
}
.vl-vi-burger:before {
    content: "\f2ce";
}
.vl-vi-burger-alt:before {
    content: "\f2cf";
}
.vl-vi-bullet:before {
    content: "\f2d0";
}
.vl-vi-building:before {
    content: "\f2d1";
}
.vl-vi-building-big:before {
    content: "\f2d2";
}
.vl-vi-building-2:before {
    content: "\f2d3";
}
.vl-vi-briefcase:before {
    content: "\f2d4";
}
.vl-vi-briefcase-pause:before {
    content: "\f2d5";
}
.vl-vi-breadcrumb-separator:before {
    content: "\f2d6";
}
.vl-vi-bookmark:before {
    content: "\f2d7";
}
.vl-vi-bookmark-alt-2:before {
    content: "\f2d8";
}
.vl-vi-bookmark-alt-1:before {
    content: "\f2d9";
}
.vl-vi-book:before {
    content: "\f2da";
}
.vl-vi-bold:before {
    content: "\f2db";
}
.vl-vi-boat-ship:before {
    content: "\f2dc";
}
.vl-vi-binoculars:before {
    content: "\f2dd";
}
.vl-vi-bin:before {
    content: "\f2de";
}
.vl-vi-bike:before {
    content: "\f2df";
}
.vl-vi-bike-open-criterium:before {
    content: "\f2e0";
}
.vl-vi-bike-closed-criterium:before {
    content: "\f2e1";
}
.vl-vi-bell:before {
    content: "\f2e2";
}
.vl-vi-battery-charging:before {
    content: "\f2e3";
}
.vl-vi-banking-bill-euro:before {
    content: "\f2e4";
}
.vl-vi-ban:before {
    content: "\f2e5";
}
.vl-vi-back:before {
    content: "\f2e6";
}
.vl-vi-audio-description:before {
    content: "\f2e7";
}
.vl-vi-asterisk:before {
    content: "\f2e8";
}
.vl-vi-arrow:before {
    content: "\f2e9";
}
.vl-vi-arrow-up:before {
    content: "\f2ea";
}
.vl-vi-arrow-up-thin:before {
    content: "\f2eb";
}
.vl-vi-arrow-up-fat:before {
    content: "\f2ec";
}
.vl-vi-arrow-thin:before {
    content: "\f2ed";
}
.vl-vi-arrow-right:before {
    content: "\f2ee";
}
.vl-vi-arrow-right-thin:before {
    content: "\f2ef";
}
.vl-vi-arrow-right-fat:before {
    content: "\f2f0";
}
.vl-vi-arrow-left:before {
    content: "\f2f1";
}
.vl-vi-arrow-left-thin:before {
    content: "\f2f2";
}
.vl-vi-arrow-left-fat:before {
    content: "\f2f3";
}
.vl-vi-arrow-freemove:before {
    content: "\f2f4";
}
.vl-vi-arrow-down:before {
    content: "\f2f5";
}
.vl-vi-arrow-down-thin:before {
    content: "\f2f6";
}
.vl-vi-arrow-down-fat:before {
    content: "\f2f7";
}
.vl-vi-arrow-bottom:before {
    content: "\f2f8";
}
.vl-vi-arrange-z-to-a:before {
    content: "\f2f9";
}
.vl-vi-arrange-amount-small-to-large:before {
    content: "\f2fa";
}
.vl-vi-arrange-amount-large-to-small:before {
    content: "\f2fb";
}
.vl-vi-arrange-a-to-z:before {
    content: "\f2fc";
}
.vl-vi-arrange-9-to-1:before {
    content: "\f2fd";
}
.vl-vi-arrange-1-to-9:before {
    content: "\f2fe";
}
.vl-vi-area:before {
    content: "\f2ff";
}
.vl-vi-apple:before {
    content: "\f300";
}
.vl-vi-align-right:before {
    content: "\f301";
}
.vl-vi-align-left:before {
    content: "\f302";
}
.vl-vi-align-justify:before {
    content: "\f303";
}
.vl-vi-align-center:before {
    content: "\f304";
}
.vl-vi-alert-triangle:before {
    content: "\f305";
}
.vl-vi-alert-triangle-filled:before {
    content: "\f306";
}
.vl-vi-alert-small:before {
    content: "\f307";
}
.vl-vi-alert-circle:before {
    content: "\f308";
}
.vl-vi-alert-circle-filled:before {
    content: "\f309";
}
.vl-vi-alarm:before {
    content: "\f30a";
}
.vl-vi-alarm-silent:before {
    content: "\f30b";
}
.vl-vi-airplane:before {
    content: "\f30c";
}
.vl-vi-addressbook:before {
    content: "\f30d";
}
.vl-vi-add:before {
    content: "\f30e";
}
